@model Course_station.Models.Course

@{
    ViewData["Title"] = "Delete Course";
}

<h1>Delete Course</h1>

<h3>Are you sure you want to delete this course?</h3>
<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiffLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiffLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditPoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditPoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LearningObjective)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LearningObjective)
        </dd>
    </dl>

    <form asp-action="DeleteCourse">
        <input type="hidden" asp-for="CourseId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="ManageCourses" class="btn btn-secondary">Back to Course mangment</a>
    </form>
</div>

