@model Course_station.Models.Instructor

@{
    ViewData["Title"] = "Instructor Details";
}

<h1>Instructor Details</h1>

<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InstructorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstructorName)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Courses)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Courses)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InstructorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
