@model IEnumerable<Course_station.Models.Instructor>

@{
    ViewData["Title"] = "Instructors";
}

<h1>Instructors</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.InstructorName)</th>
            <th>@Html.DisplayNameFor(model => model.LatestQualification)</th>
            <th>@Html.DisplayNameFor(model => model.ExpertiseArea)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Password)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.InstructorName)</td>
                <td>@Html.DisplayFor(modelItem => item.LatestQualification)</td>
                <td>@Html.DisplayFor(modelItem => item.ExpertiseArea)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Password)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.InstructorId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.InstructorId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.InstructorId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>