@model IEnumerable<Course_station.Models.Course>

@{
    ViewData["Title"] = "Manage Courses";
}

<h2>Manage Courses</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Title)</th>
            <th>@Html.DisplayNameFor(model => model.First().Description)</th>
            <th>@Html.DisplayNameFor(model => model.First().DiffLevel)</th>
            <th>@Html.DisplayNameFor(model => model.First().CreditPoint)</th>
            <th>@Html.DisplayNameFor(model => model.First().LearningObjective)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => course.Title)</td>
                <td>@Html.DisplayFor(modelItem => course.Description)</td>
                <td>@Html.DisplayFor(modelItem => course.DiffLevel)</td>
                <td>@Html.DisplayFor(modelItem => course.CreditPoint)</td>
                <td>@Html.DisplayFor(modelItem => course.LearningObjective)</td>
                <td>
                    <a asp-action="EditCourse" asp-route-id="@course.CourseId" class="btn btn-primary">Edit</a>
                    <a asp-action="CourseDetails" asp-route-id="@course.CourseId" class="btn btn-info">Details</a>
                    <a asp-action="DeleteCourse" asp-route-id="@course.CourseId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

