@model Course_station.Models.EmotionalFeedback

@{
    ViewData["Title"] = "Emotional Feedback Details";
}

<h1>Emotional Feedback Details</h1>

<div>
    <h4>Emotional Feedback</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FeedbackId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FeedbackId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LearnerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LearnerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmotionalState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmotionalState)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FeedbackId" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>