@model IEnumerable<Course_station.Models.Achievement>

@{
    ViewData["Title"] = "Index";
}

<h1>Achievements</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEarned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BadgeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LearnerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateEarned)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BadgeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LearnerId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AchievementId" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AchievementId" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AchievementId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
