@model IEnumerable<Course_station.Models.Module>

@{
    ViewData["Title"] = "Modules";
}

<h1>Modules</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModuleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DifficultyLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ModuleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DifficultyLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContentUrl)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ModuleId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ModuleId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ModuleId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
