@model IEnumerable<Course_station.Models.Module>

@{
    ViewData["Title"] = "Modules";
}

<h2>Modules</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Difficulty Level</th>
            <th>Course</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.DifficultyLevel</td>
                <td>@item.Course.Title</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ModuleId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ModuleId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ModuleId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
