@model Course_station.Models.LearningActivity

@{
    ViewData["Title"] = "Learning Activity Details";
}

<h1>Learning Activity Details</h1>

<div>
    <h4>Learning Activity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModuleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModuleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InstructionDetails)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstructionDetails)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxScore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxScore)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ActivityId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>