@model Course_station.Models.PersonalProfile
@{
    ViewData["Title"] = "Personal Profile Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Personal Profile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LearnerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LearnerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PreferedContentType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PreferedContentType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmotionalState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmotionalState)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalityType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalityType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProfileId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
