@model Course_station.Models.Course

@{
    ViewData["Title"] = "Course Details";
}

<h2>Course Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiffLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiffLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreditPoint)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreditPoint)
        </dd>
        <dt class="col-sm-2">
            Modules
        </dt>
        <dd class="col-sm-10">
            @if (Model.Modules != null && Model.Modules.Any())
            {
                <ul>
                    @foreach (var module in Model.Modules)
                    {
                        <li>@module.ModuleId - @module.Title</li>
                    }
                </ul>
            }
            else
            {
                <p>No modules available for this course.</p>
            }
        </dd>
    </dl>
</div>


