@model Course_station.Models.Learner
@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<div class="profile-container">
    <div class="profile-header">
        <div class="profile-info">
            <h2>@Model.FirstName @Model.LastName</h2>
            <p>@Model.Email</p>
        </div>
    </div>

    <div class="profile-details">
        <h4>Personal Information</h4>
        <dl class="row">
            <dt class="col-sm-3">Birthday</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Birthday)</dd>

            <dt class="col-sm-3">Gender</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Gender)</dd>

            <dt class="col-sm-3">Country</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Country)</dd>

            <dt class="col-sm-3">Cultural Background</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.CulturalBackground)</dd>
        </dl>
    </div>

    <div class="profile-actions">
        <a asp-action="Edit" asp-route-id="@Model.LearnerId" class="btn btn-primary">Edit Profile</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>

<style>
    .profile-container {
        max-width: 800px;
        margin: 0 auto;
    }

    .profile-header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .profile-info {
        flex-grow: 1;
    }

    .profile-details {
        margin-bottom: 20px;
    }

    .profile-actions {
        margin-bottom: 20px;
    }
</style>
