@model IEnumerable<Course_station.Models.Notification>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NotificationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urgency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Readstatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NotificationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Urgency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Readstatus)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.NotificationId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.NotificationId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.NotificationId">Delete</a> |
                    <a asp-action="MarkAsRead" asp-route-id="@item.NotificationId">Mark as Read</a>
                </td>
            </tr>
        }
    </tbody>
</table>
